body {
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
  background: black;
  color: white;
}

.panel {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.panel video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.panel h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}